/*
1. POSICIONAMIENTO
2. MODELO DE CAJA
3. TIPOGRAFIA
4. VISUALES
5. OTROS
*/

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul-oscuro: #4B539D;
    --azul-encabezados: #020D75;
    --blanco-texto: #fff;
    --gris-texto: #6F6F6F;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.main__container {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__title {
    font-weight: bold;
    font-size: 40px;
    color: var(--azul-encabezados);
    margin-block-end: 60px;
}

#form__login {
    display: flex;
    flex-direction: column;
}

#form__login label {
    text-indent: 10px;
    font-weight: 500;
    font-size: 20px;
    color: var(--gris-texto);
}

.input {
    display: block;
    border: none;
    margin: 0 auto;
    border-bottom: 2px solid #4A4A4A;
    margin-block-end: 30px;
    padding: 10px 10px;
    font-family: inherit;
    font-size: 14px;
    color: var(--gris-texto);
    width: 100%;
    outline: none;
}

.button {
    padding: 17px 87px;
    font-weight: 500;
    font-family: inherit;
    font-size: 20px;
    background-color: var(--azul-oscuro);
    color: var(--blanco-texto);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.login__register {
    margin-block-start: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--gris-texto);
}

.login__error {
    margin: 20px;
    /* border: 1px solid red; */
    padding: 0px;
    font-weight: 500;
    color: rgb(221, 33, 33);
}

.pattern {
    display: inline-block;
    position: absolute;
    background-image: url('../assets/images/pattern-1.svg');
    background-repeat: no-repeat;
    background-size: 100% 90%; 
    width: 100%;
    height: 20%;
}

.pattern--top {
    top: 0px;
}

.pattern--bottom {
    bottom: 0px;
    rotate: 180deg;
}